<template>
    <h1>Order confirmation</h1>

		<!-- Price -->
    <div class="big-bottom-margin">
        Total price: 
        {{this.price * this.currencyRate}}
    </div>

		<!-- Currency -->
		<div class="big-bottom-margin">
			Currency
			<select v-model="currency" @change="changeOfCurrency()">
				<option v-for="currency in currencies">
					{{ currency.currencyCode }}
				</option>
			</select>
		</div>

		{{dataToSend}}

		<button v-on:click="pay()">Pay</button>
</template>
  
<style>
.big-bottom-margin {
    margin-bottom: 30px;
}

.tiny-bottom-margin {
    margin-bottom: 10px;
}
</style>
  
<script>
import axios from 'axios';

	export default {
		props: {
			dataToSend: Object,
			dataTest: Object
		},
		data() {
			return {
				price: 1,
				currency: '',
				currencyRate: 1,
				currencies: [],
			}
		},

		methods: {
			async getJson() {
				this.currencies = (await axios.get('http://localhost:5000/api/currency/getAllCurrencies')).data
			},
			changeOfCurrency() {
				this.currencies.forEach(element => {
					if (element.currencyCode == this.currency) {
						this.currencyRate = element.rate;
					}
				});
			},
			pay() {
				axios({
					method: 'put',
					url: 'http://localhost:5000/api/reservations/setReservations',
					data: this.preOrder
				})

				this.$router.push('/')
			}
		},
		beforeMount() {
			this.getJson()
		}
	}
</script>