<template>
  
  <div class="reservation">
    <h1>Reservation</h1>
    
    <!-- User infos -->
    <div class="big-bottom-margin">
      <div>
        Enter your name
        <input v-model="name">
      </div>
      <div>
        Enter your age
        <input type="number" min="0" v-model="age"/>
      </div>
    </div>

    <!-- Transports -->
    <div class="big-bottom-margin">
      <div>
        Departure
        <select v-model="departure" @change="onAirportsChanged()">
          <option v-for="airport in airports">
            {{ airport }}
          </option>
        </select>
      </div>
      
      <div>
        Arrival 
        <select v-model="arrival" @change="onAirportsChanged()">
          <option v-for="airport in airports">
            {{ airport }}
          </option>
        </select>
      </div>
    </div>
    
    <!-- Round trip -->
    <div class="tiny-bottom-margin">
      Round trip ?
      <input type="checkbox" v-on:click="this.roundTrip = !this.roundTrip" />
    </div>

    <!-- Options -->
    <div class="big-bottom-margin">

      <!-- Train -->
      <div>
        Go by train ?
        <input type="checkbox" v-on:click="this.train = !this.train" />
      </div>
      
      <!-- Luggages -->
      <div v-if="this.options.includes('Luggage')" class="tiny-bottom-margin">
        Luggages ?
        <span v-if="this.roundTrip">
          <div>
            Go <input type="checkbox" v-on:click="this.luggage.go = !this.luggage.go" /> 
            Return <input type="checkbox" v-on:click="this.luggage.return = !this.luggage.return" />
          </div>  
        </span>
        <span v-else>
          <input type="checkbox" v-on:click="this.firstClass.go = !this.firstClass.go" /> 
        </span>
      </div>

      <!-- First class -->
      <div v-if="this.options.includes('FirstClass')" class="tiny-bottom-margin">
        First class ?
        <span v-if="this.roundTrip">
          <div>
            Go <input type="checkbox" v-on:click="this.firstClass.go = !this.firstClass.go" /> 
            Return <input type="checkbox" v-on:click="this.firstClass.return = !this.firstClass.return" />
          </div>  
        </span>
        <span v-else>
          <input type="checkbox" v-on:click="this.firstClass.go = !this.firstClass.go" /> 
        </span>
      </div>
    
      <!-- Champagne -->
      <div v-if="this.options.includes('Champagne')">
        Champagne ?
        <span v-if="this.roundTrip">
          <div>
            Go <input type="checkbox" v-on:click="this.champagne.go = !this.champagne.go" /> 
            Return <input type="checkbox" v-on:click="this.champagne.return = !this.champagne.return" />
          </div>
        </span>
        <span v-else>
          <input type="checkbox" v-on:click="this.firstClass.go = !this.firstClass.go" /> 
        </span>
      </div>
    </div>

    <!-- Date -->
    <div class="big-bottom-margin">
      Flight date
      <span v-if="this.roundTrip">
        <div>
          Go <input type="date" v-model="this.date.go"> <br/>
          Return <input type="date" v-model="this.date.return">
        </div>
      </span>
      <span v-else>
        <input type="date" v-model="this.date.go">
      </span>
    </div>
  
    <!-- Validation button -->
    <button v-on:click="book()">Book</button>
  </div>
</template>

<style>
  .big-bottom-margin {
     margin-bottom: 30px;
  }

  .tiny-bottom-margin {
    margin-bottom: 10px;
  }
</style>

<script>
  import router from '@/router';
import axios from 'axios';
  import { uuid } from 'vue-uuid';
  
  export default {
    data() {
      return {
        name:       '',
        age:        0,
        departure:  '',
        arrival:    '',
        luggage:    {go: false, return: false},
        champagne:  {go: false, return: false},
        firstClass: {go: false, return: false},
        date:       {go: null, return: null},
        roundTrip:  false,
        flight:     null,
        flights:    [],
        airports:   [],
        options:    [],
        train:      false,
        optionAller: [],
        optionRetour: [],
        dataToSend: ''
      }
    },
    watch: {
      departure() {
        if(this.departure === this.arrival) this.departure = '';
      },
      arrival() {
        if(this.departure === this.arrival) this.arrival = '';
      }
    },
    methods: {
      async getJson() {
        this.flights = (await axios.get('http://localhost:5000/api/flight/getAllFlights')).data
        this.airports = this.flights.map(f => f.departure);
        this.airports = this.deleteDoubleAirports(this.airports);
      },

      onAirportsChanged() {
        this.flights.forEach(element => {
          if (element.departure == this.departure && element.arrival == this.arrival) {
            this.flight = element;
            element.availableOptions.forEach(e => {
              this.options.push(e.name);
            });
          }
        });
      },

      setOption() {
        if (this.luggage.go) this.optionAller.push("luggage");
        if (this.luggage.return) this.optionRetour.push("luggage");
        if (this.champagne.go) this.optionAller.push("champagne");
        if (this.champagne.return) this.optionRetour.push("champagne");
        if (this.firstClass.go) this.optionAller.push("firstClass");
        if (this.firstClass.return) this.optionRetour.push("firstClass");
      },

      book() {
        let flights = [];
        flights.push(this.flight);

        // Find and add the return flight
        if (this.roundTrip) {
          this.flights.forEach(element => {
            if (element.departure == this.arrival && element.arrival == this.departure) {
              flights.push(element);
            }
          });
        }

        this.setOption();

        let ReservationContract = {
          Id: uuid.v1(),
          Name: this.name,
          OptionAller: this.optionAller,
          OptionRetour: this.optionRetour,
          Flights: flights,
          DateIn: this.date.go,
          DateOut: this.date.return
        };

        axios({
          method: 'post',
          url: 'http://localhost:5000/api/reservations/getPreOrder',
          data: ReservationContract
        })
        .then((response) => {
          this.dataToSend = response.data;
          this.$router.push({ path: '/order', params: {id: this.dataToSend.id,
                                                      price: this.dataToSend.totalPrice,
                                                      name: this.dataToSend.name,
                                                      tickets: this.dataToSend.tickets }
          })
        });

      },

      deleteDoubleAirports(airports) {
        let uniqueChars = airports.filter((element, index) => {
          return airports.indexOf(element) === index;
        });

        return uniqueChars;
      }
    },
    
    beforeMount() {
      this.getJson()

    },
  }
  </script>